<div class="panel panel-default thankyou_message">
  <div class="panel-body">
    <%= image_tag("thankyou_image.png", class: "img-responsive owl_image")%>
    <p>Thank you. We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->